<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :ticket_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :ticket_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, [['Backlog','backlog'], ['In progress','in_progress'], ['Done', 'done'], ['QA verified','qa_verified']], id: :ticket_status %>
  </div>

  <div class="field">
    <%= form.label :assignee %>
    <%= form.number_field :assignee, id: :ticket_assignee %>
  </div>

  <div class="field">
    <%= form.label :creator %>
    <%= form.number_field :creator, id: :ticket_creator %>
  </div>

  <div class="field">
    <%= form.label :priority_field %>
    <%= form.select :priority_field, [['P0','P0'], ['P1', 'P1'], ['P2', 'P2']], id: :ticket_priority_field %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
